{{ ansible_managed|comment }}
LocalSocket /var/run/clamav/clamd.ctl
FixStaleSocket true
LocalSocketGroup clamav
LocalSocketMode 666
OnAccessIncludePath /home/{{ lookup('env', 'USER') }}/Downloads/
OnAccessExtraScanning yes
OnAccessExcludeRootUID yes
