[Unit]
Description=Disable kernel module loading
After=syslog.target network.target multi-user.target

[Service]
Type=simple
RemainAfterExit=true
ExecStart=/usr/local/bin/disable_kernel_module_loading.sh

[Install]
WantedBy=multi-user.target
